In [7]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name, strftime('%m', starttime) AS month, SUM(b.slots) AS usage
        FROM Bookings AS b
        LEFT JOIN Facilities AS f
            ON b.facid = f.facid
        WHERE b.memid > 0
        GROUP BY f.name, month
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite\db\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', '07', 165)
('Badminton Court', '08', 414)
('Badminton Court', '09', 507)
('Massage Room 1', '07', 166)
('Massage Room 1', '08', 316)
('Massage Room 1', '09', 402)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 110)
('Pool Table', '08', 303)
('Pool Table', '09', 443)
('Snooker Table', '07', 140)
('Snooker Table', '08', 316)
('Snooker Table', '09', 404)
('Squash Court', '07', 50)
('Squash Court', '08', 184)
('Squash Court', '09', 184)
('Table Tennis', '07', 98)
('Table Tennis', '08', 296)
('Table Tennis', '09', 400)
('Tennis Court 1', '07', 201)
('Tennis Court 1', '08', 339)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 345)
('Tennis Court 2', '09', 414)

In [ ]:
#Q10
"""
        SELECT f.name, 
               SUM(CASE WHEN m.firstname = 'GUEST' THEN f.guestcost * b.slots
                        ELSE f.membercost * b.slots END) AS revenue
        FROM BOOKINGS AS b
        LEFT JOIN MEMBERS AS m
            ON b.memid = m.memid
        LEFT JOIN FACILITIES AS f
            ON b.facid = f.facid
        GROUP BY f.name
        HAVING revenue < 1000
        ORDER BY revenue
        """

#Q11
"""
        SELECT m1.surname, m1.firstname, m2.surname AS recommender_surname, m2.firstname AS recommender_firstname
        FROM Members m1
        LEFT JOIN Members m2
            ON m1.recommendedby = m2.memid
        WHERE m1.firstname <> 'GUEST'
        ORDER BY m1.surname, m1.firstname
        """

#Q12
"""
        SELECT f.name, b.memid, SUM(b.slots) AS usage
        FROM Bookings AS b
        LEFT JOIN Facilities AS f
            ON b.facid = f.facid
        WHERE b.memid > 0
        GROUP BY f.name, b.memid     
        """

#Q13
"""
        SELECT f.name, strftime('%m', starttime) AS month, SUM(b.slots) AS usage
        FROM Bookings AS b
        LEFT JOIN Facilities AS f
            ON b.facid = f.facid
        WHERE b.memid > 0
        GROUP BY f.name, month
"""